<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  internalLogFile="c:\temp\NLog.Gunter.log"
  internalLogLevel="Error">

  <variable name="logfileName" value="Gunter.Application.log" />

  <!-- sub-templates -->

  <variable name="environmentNotAvailable" value="N/A" />
  <variable name="environmentLayout" value="${whenEmpty:whenEmpty=${environmentNotAvailable}:inner=${event-context:item=Environment}}" />

  <variable name="callsiteLayout" value="${callsite:className=true:fileName=true:methodName:true}" />
  <variable name="exceptionLayout" value="${exception:format=tostring:separator= | :innerFormat=tostring,message:maxInnerExceptionLevel=7:innerExceptionSeparator= | }" />
  <variable name="stackTraceLayout" value="${stacktrace:format=raw:topFrames=7:separator= » }" />

  <!-- full templates -->

  <variable name="fileLayout" value="${longdate:universalTime=true} | ${environmentLayout} | ${level:uppercase=true} | ${logger} | ${message}${onexception:${newline}${callsiteLayout}${newline}${exceptionLayout}${newline}${stackTraceLayout}}" />

  <!--<variable name="debuggerLayout" value="GELO » ${level:uppercase=true} | ${message}${onexception:${newline}${callsiteLayout}${newline}${exceptionLayout}${newline}${stackTraceLayout}}" />-->
  <variable name="debuggerLayout" value="Gunter » ${level:uppercase=true} | ${message}${onexception:${newline}${exceptionLayout}}" />

  <targets>

    <target xsi:type="File" name="logfile" layout="${fileLayout}" fileName="${logfileName}" archiveEvery="Day" fileAttributes="Archive" archiveNumbering="Date" archiveDateFormat="yy-mm-dd" />

    <target xsi:type="Debugger" name="Debugger" layout="${debuggerLayout}" />
    
    <target xsi:type="Database" name="Main" commandText="[robots].[Gunter_MainLog]" dbProvider="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=TEST_LOG;Integrated Security=True">
      <parameter name="@Environment" layout="${environmentLayout}" />
      <parameter name="@Timestamp" layout="${longdate:universalTime=true}" />
      <parameter name="@LogLevel" layout="${level:uppercase=true}" />
      <parameter name="@Logger" layout="${logger}" />
      <parameter name="@ThreadId" layout="${threadid}" />
      <parameter name="@ElapsedSeconds:null" layout="${invariant-properties:item=ElapsedSeconds}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception:null" layout="${onexception:${exceptionLayout}}" />
    </target>

    <target xsi:type="Console" name="Console" layout="${debuggerLayout}" encoding="utf-8" />

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="Debugger" enabled="true" />
    <logger name="*" minlevel="Trace" writeTo="Console" enabled="true" />
    <logger name="*" minlevel="Trace" appendTo="Main" enabled="true" />
    
    <logger name="*" minlevel="Info" writeTo="logfile" enabled="false" />
  </rules>
</nlog>