<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.0" targetFramework="net452" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="NLog" version="4.4.12" targetFramework="net47" />
  <package id="NLog.Config" version="4.4.3" targetFramework="net452" />
  <package id="NLog.Schema" version="4.4.3" targetFramework="net452" />
  <package id="Reusable.Converters" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.Core" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.Flawless" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.MarkupBuilder" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.Net.Mail" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.Net.Mail.SmtpClient" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.OmniLog" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.OmniLog.NLogRx" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.OmniLog.SemLog" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.SemanticVersion" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.SmartConfig.AppConfig" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.SmartConfig.Binding" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.SmartConfig.Core" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.SmartConfig.JsonSettingConverter" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.ThirdParty.JsonNetUtilities" version="3.78.1" targetFramework="net47" />
  <package id="Reusable.ThirdParty.NLogUtilities" version="3.78.1" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net47" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net47" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net47" />
</packages>